.contact-page {
	height: 100%;
}

.contact-content {
	height: 100%;
/*	background-image: url("/assets/ocean.jpg");
	background-repeat: no-repeat;
	background-size: cover;*/
}

.contact-title {
	width: 100%;
	text-align: center;
}

.contact-body {
	text-align: center;
}

.contact-message-textarea {
	width: 100%;
}

.contact-submit {
	display: block;
	margin: 0 auto;
}

.contact-form {
	width: 80%;
	margin: 0 auto;
}