.about-all {
	color: white;
	height: 100%;
	background-image: url("/assets/sony_camera.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.about-content {
	margin-left: 2%;
	width: 48%;
}