.about-all {
	color: black;
	height: 100%;
	background-image: url("/assets/kaylijean.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.about-content {
	margin-left: 50%;
	width: 48%;
}