#bg {
  padding: 0px;
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

.swap-animation.ng-enter, .swap-animation.ng-leave {
  transition:0.5s linear all;
}
.swap-animation.ng-enter {
  top:0px;
  opacity:0;
}
.swap-animation.ng-enter-active {
  top:0px;
  opacity:1;
}
.swap-animation.ng-leave {
  top:0px;
  opacity:1;
}
.swap-animation.ng-leave-active {
  top:0px;
  opacity:0;
}
