<div ng-controller="NavbarCtrl">
    
    <md-toolbar>
        <div class="md-toolbar-tools" id="kjNavbar">
            <img src = "/assets/kayli-logo-white.png" alt = "Test Image" />
            <md-button ui-sref="root.home">Home</md-button>
<!--             <md-button ui-sref="root.about">About</md-button>
            <md-menu md-offset="0 42">
                <md-button aria-label="Open Albums menu" ng-mouseenter="openMenu($mdMenu, $event)">
                    Albums
                    <i class="material-icons menu-dropdown-arrow">arrow_drop_down</i>
                </md-button>
                <md-menu-content width="4" class="album-menu-content" ng-mouseleave="closeMenu($mdMenu, $event)">
                    <md-menu-item ng-repeat="title in albumTitles">
                        <md-button ng-click="openAlbum(title)">
                            <span ng-bind="title"></span>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            <md-button ui-sref="root.contact">Contact</md-button> -->
            <span flex></span>
            <md-button class="md-icon-button social-media-button" aria-label="menu" href="https://www.instagram.com/kayli__jean/" target="_blank">
                <md-icon md-svg-src="/assets/instagram-white.svg" class="header-logo">
            </md-button>
            <md-button class="md-icon-button social-media-button" aria-label="menu" href="https://www.facebook.com/Kayli-Jean-2207892619432914/?modal=composer&notif_id=1529707973884405&notif_t=aymt_upsell_tip" target="_blank">
                <md-icon md-svg-src="/assets/facebook-white.svg" class="header-logo">
            </md-button>
            <md-button class="md-icon-button social-media-button" aria-label="menu" href="https://500px.com/kayli_jean" target="_blank">
                <md-icon md-svg-src="/assets/five-hundred-pix-white.svg" class="header-logo">
            </md-button>
            <md-button class="md-icon-button social-media-button" aria-label="menu" ui-sref="root.contact">
                <md-icon class="material-icons">email</md-icon>
            </md-button>
        </div>
    </md-toolbar>

</div>
