<div ng-controller="NavbarCtrl">
    
    <md-toolbar>
        <div class="md-toolbar-tools" id="kjNavbar">
            <md-button class="md-icon-button" aria-label="menu">
                <md-icon md-svg-src="/assets/kj-logo.svg" class="header-logo">
            </md-button>
            <md-button>Home</md-button>
            <md-button>About</md-button>
            <md-button>Contact</md-button>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="menu">
                <md-icon md-svg-src="/assets/facebook-white.svg" class="header-logo">
            </md-button>
            <md-button class="md-icon-button" aria-label="menu">
                <md-icon md-svg-src="/assets/instagram-white.svg" class="header-logo">
            </md-button>
        </div>
    </md-toolbar>

</div>
